
## --> RENAME THIS FILE TO .env AND FILL IN THE VALUES <-- ##
# Optionally for production, move this file to a location
# outside the root of the project's directory such as
# '/etc/myapp/.env' and change its owner to root with chmod 600
# and then update the reference to it in the compose file.



## -------- Django settings --------

DJANGO_SECRET_KEY=randomly-generated-secret-key
# generate a secret key: django.core.management.utils.get_random_secret_key()
DJANGO_TIME_ZONE=UTC
DJANGO_ALLOWED_HOSTS=example.com,www.example.com
# in development, leave DJANGO_ALLOWED_HOSTS empty for default



## -------- Database (Postgres) --------

# postgres superuser
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres-admin-password

# application user and database
DB_NAME=myapp
DB_USER=myapp_user
DB_PASSWORD=myapp-database-password
DB_HOST=db
DB_PORT=5432



## -------- NGINX config --------

SERVER_NAMES="example.com www.example.com"
